<p>dateformat works!</p>
<h1>date format Using Pipe</h1>
<div class="card card-block">
  <h4 class = "class-title">Date</h4>
  <div class ="card-text">
    <p ngNonBindable>{{dateVal | date:'shortTime'}}</p>
    <p>{{dateVal | date:'shortTime'}}</p>

    <p ngNonBindable>{{dateVal | date:'fullDate'}}</p>
    <p>{{dateVal | date:'fullDate'}}</p>

    <p ngNonBindable>{{dateVal | date:'shortTime'}}</p>
    <p>{{dateVal | date:'shortTime'}}</p>

    <p ngNonBindable>{{dateVal | date:'D/M/Y'}}</p>
    <p>{{dateVal | date:'D/M/Y'}}</p>

    </div>
    </div>


